pyspark==3.0.1
pandas>=0.24.2
protobuf==3.6.0
geopyspark==0.4.5+openeo
setuptools
gunicorn==19.9.0
kazoo==2.5.0
cloudpickle
colortools>=0.1.2
pyproj==2.6.1
geopandas==0.7.0
numpy==1.19.4
openeo>=0.3.3a1.*
openeo_driver>=0.2.6a1.*
openeo_udf>=0.0.9.post0
py4j
python_dateutil
pytz
rasterio==1.1.1
affine
Shapely
scipy==1.5.4
flask-cors
xarray==0.16.2
