pyspark>=2.3.1,<2.4.0
pandas>=0.24.2
protobuf==3.6.0
geopyspark==0.4.5+openeo
setuptools
gunicorn==19.9.0
kazoo==2.5.0
cloudpickle
matplotlib>=2.0.0,<3.0.0
colortools>=0.1.2
pyproj<2.2.0
geopandas==0.6.2
numpy==1.17.0
openeo>=0.4.3a1.*
openeo_driver>=0.2.6a1.*
openeo_udf>=0.0.9.post0
py4j
python_dateutil
pytz
rasterio==1.1.1
affine
Shapely
scipy==1.3.0
flask-cors
xarray==0.11.2
h5netcdf