pyspark==3.0.1
pandas>=0.24.2
protobuf==3.6.0
geopyspark==0.4.6+openeo
setuptools
gunicorn==19.9.0
kazoo==2.8.0
cloudpickle
colortools>=0.1.2
pyproj==2.6.1
geopandas==0.6.2
numpy==1.19.4
openeo>=0.4.8a2.*
openeo_driver>=0.6.2a1.*
openeo_udf>=1.0.0rc2
py4j
python_dateutil
pytz
rasterio==1.1.1
affine
Shapely
scipy==1.5.4
flask-cors
xarray==0.16.2
h5netcdf