---
apiVersion: v1
kind: Secret
metadata:
  name: {{ secret_name }}
  labels:
    job_id: {{ job_id }}
  annotations:
    created_at: "{{ utcnow_epoch() }}"
data:
  profile_file: {{ profile_file_content | b64encode }}
  token: {{ token | b64encode }}
type: Opaque